:root {
	--star-size: 1em;
	--star-color: #fff;
	--star-background: #fc0;
}

.Stars {
	--percent: calc(var(--rating) / 5 * 100%);
	display: inline-block;
	font-size: var(--star-size);
	font-family: Times;
	line-height: 1;
	-webkit-text-stroke:rgb(229, 229, 229) 1px;
}

.Stars::before {
	content: "★★★★★";
	letter-spacing: 3px;
	background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.watch-toggle{
	color: white;
	stroke:green;
	z-index:10;
}
.watched {
	color: green;
		z-index: 10;
}

#star-1:checked~section [for=star-1] svg,
#star-2:checked~section [for=star-1] svg,
#star-2:checked~section [for=star-2] svg,
#star-3:checked~section [for=star-1] svg,
#star-3:checked~section [for=star-2] svg,
#star-3:checked~section [for=star-3] svg,
#star-4:checked~section [for=star-1] svg,
#star-4:checked~section [for=star-2] svg,
#star-4:checked~section [for=star-3] svg,
#star-4:checked~section [for=star-4] svg,
#star-5:checked~section [for=star-1] svg,
#star-5:checked~section [for=star-2] svg,
#star-5:checked~section [for=star-3] svg,
#star-5:checked~section [for=star-4] svg,
#star-5:checked~section [for=star-5] svg {
	transform: scale(1);
}

#star-1:checked~section [for=star-1] svg path,
#star-2:checked~section [for=star-1] svg path,
#star-2:checked~section [for=star-2] svg path,
#star-3:checked~section [for=star-1] svg path,
#star-3:checked~section [for=star-2] svg path,
#star-3:checked~section [for=star-3] svg path,
#star-4:checked~section [for=star-1] svg path,
#star-4:checked~section [for=star-2] svg path,
#star-4:checked~section [for=star-3] svg path,
#star-4:checked~section [for=star-4] svg path,
#star-5:checked~section [for=star-1] svg path,
#star-5:checked~section [for=star-2] svg path,
#star-5:checked~section [for=star-3] svg path,
#star-5:checked~section [for=star-4] svg path,
#star-5:checked~section [for=star-5] svg path {
	fill: #FFBB00;
	stroke: #cc9600;
}

.star-label {
	display: inline-block;
	width: 50px;
	text-align: center;
	cursor: pointer;
}

label svg {
	width: 100%;
	height: auto;
	fill: white;
	stroke: #CCC;
	transform: scale(0.8);
	transition: transform 200ms ease-in-out;
}

label svg path {
	transition: fill 200ms ease-in-out, stroke 100ms ease-in-out;
}


